main {
  padding: 1rem;
}
h4 { color: white; font-weight: bold;}

.form  {
  &__person-type{
    label {
      display: block;
    &::before {
      content: '* ';
      color: #9dff00;
      font-weight: bold;
    }
    }
  }
  &__inputs {
    padding-top: 1rem;
    & > * {
      display: block;
      width: 300px;
    }
  }
}
