/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  color: whitesmoke;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: linear-gradient( #9e00ffb8, #3cd0ff);
}
